In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import *
import random
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor

In [14]:
train= pd.read_csv("C:/Users/Rajat/Desktop/TookiTaki/My work/Kaggle/Restaurant Revenue Prediction/train.csv/Revenue Prediction train.csv")
test= pd.read_csv("C:/Users/Rajat/Desktop/TookiTaki/My work/Kaggle/Restaurant Revenue Prediction/test.csv/test.csv")
sample_submission=pd.read_csv("C:/Users/Rajat/Desktop/TookiTaki/My work/Kaggle/Restaurant Revenue Prediction/sampleSubmission.csv")

In [15]:
train.rename(columns={'Open Date': 'Open_Date'},inplace= True )
test.rename(columns={'Open Date': 'Open_Date'},inplace= True)

train.Open_Date=pd.to_datetime(train.Open_Date)
test.Open_Date=pd.to_datetime(test.Open_Date)

pd.to_datetime('20150101', format='%Y%m%d')

Timestamp('2015-01-01 00:00:00')

In [16]:
train['Open_Days']=pd.to_datetime('20150101', format='%Y%m%d')-train.Open_Date
train['Open_Days']=(train.Open_Days/np.timedelta64(1,'D')).astype(int)

test['Open_Days']=pd.to_datetime('20150101', format='%Y%m%d')-test.Open_Date
test['Open_Days']=(test.Open_Days/np.timedelta64(1,'D')).astype(int)

train['Open_month']=train.Open_Date.dt.month
train['Open_year']= train.Open_Date.dt.year
train['revenue']= np.sqrt(np.log(train['revenue']))
train.head()

,Id,Open_Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P32,P33,P34,P35,P36,P37,revenue,Open_Days,Open_month,Open_year
0,0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,4,5,5,4,3,4,3.943074,5647,7,1999
1,1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,0,0,0,0,0,0,3.968675,2513,2,2008
2,2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,0,0,0,0,0,0,3.812607,663,3,2013
3,3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,10,6,18,12,12,6,3.847031,1064,2,2012
4,4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3,2,3,4,3,3,3.908709,2063,5,2009

In [17]:
test['Open_month']=test.Open_Date.dt.month
test['Open_year']=test.Open_Date.dt.year
test['Type']=test['Type'].replace(['MB'], 'DT')
test.head()

,Id,Open_Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P31,P32,P33,P34,P35,P36,P37,Open_Days,Open_month,Open_year
0,0,2011-01-22,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,0,0,0,0,0,0,0,1440,1,2011
1,1,2011-03-18,Konya,Other,IL,3,4.0,4.0,4.0,2,...,0,0,0,0,0,0,0,1385,3,2011
2,2,2013-10-30,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,0,0,0,0,0,0,0,428,10,2013
3,3,2013-05-06,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,4,0,0,0,0,0,0,605,5,2013
4,4,2013-07-31,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,0,0,0,0,0,0,0,519,7,2013

In [18]:
train['Difference']='Train' 
test['Difference']='Test'
fullData = pd.concat([train,test],axis=0)

from sklearn import preprocessing
le_Type = preprocessing.LabelEncoder()
fullData.Type= le_Type.fit_transform(fullData.Type)
fullData.City=le_Type.fit_transform(fullData.City)
fullData.head()

,City,City Group,Difference,Id,Open_Date,Open_Days,Open_month,Open_year,P1,P10,...,P36,P37,P4,P5,P6,P7,P8,P9,Type,revenue
0,60,Big Cities,Train,0,1999-07-17,5647,7,1999,4,5,...,3,4,4.0,2,2,5,4,5,2,3.943074
1,4,Big Cities,Train,1,2008-02-14,2513,2,2008,4,5,...,0,0,4.0,1,2,5,5,5,1,3.968675
2,14,Other,Train,2,2013-03-09,663,3,2013,2,5,...,0,0,5.0,2,3,5,5,5,2,3.812607
3,52,Other,Train,3,2012-02-02,1064,2,2012,6,10,...,12,6,6.0,4,4,10,8,10,2,3.847031
4,21,Other,Train,4,2009-05-09,2063,5,2009,3,5,...,3,3,4.0,2,2,5,5,5,2,3.908709

In [19]:
train=fullData[fullData['Difference']=='Train']
test=fullData[fullData['Difference']=='Test']

ID_col=['Id']
target_col=['revenue']
cat_col=['City Group','Open_Date','Difference']
num_cols=list(set(list(fullData.columns))-set(ID_col)-set(target_col)-set(cat_col))

Id_dummy=test.Id
Id_new=train.Id
features=list(set(list(fullData.columns))-set(ID_col)-set(target_col)-set(cat_col))
#y=train['revenue']
#x=train[['City','Open_Days','Open_month','Open_year','P1','P2','P3','P4','P5','P6','P7','P8','P9','P10','P11','P12','P13','P14','P15','P16','P17','P18','P19','P20','P21','P22','P23','P24','P25','P26','P27','P28','P29','P30','P31','P32','P33','P34','P35','P36','P37','Type']]

In [20]:
cv=[]
lst=[]
kf=cross_validation.KFold(len(train),n_folds=5,random_state=0)
for idx1,idx2 in kf:
    x_train,x_cv=train[features].iloc[idx1],train[features].iloc[idx2]
    y_train,y_cv=train.revenue.iloc[idx1],train.revenue.iloc[idx2]
    model=GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=500, subsample=1.0, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_depth=20, init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=2, warm_start=False, presort='auto')
    mdl= model.fit(x_train,y_train)
    cv.extend(model.predict(x_cv))
    lst.append(model.predict(test[features]))
    print(metrics.mean_squared_error(mdl.predict(x_cv),y_cv))

0.00529853377136
0.00247327134157
0.00354278737985
0.00304852748475
0.0043121895542

In [10]:
#cv

In [21]:
df1=pd.DataFrame({'Id': Id_dummy, 'revenue':np.average(lst,axis=0)})
df2=pd.DataFrame({'Id': Id_new,'revenue': cv})

In [12]:
#df1.revenue=np.exp(np.power(df1.revenue,2))
#df2.revenue=np.exp(np.power(df2.revenue,2))

In [17]:
#df3=pd.DataFrame({'Id': Id_dummy, 'revenue':df1.revenue})
df1.to_csv("C:/Users/Rajat/Desktop/GradientBoostRegressor.csv",index= False)

In [18]:
#df4=pd.DataFrame({'Id': Id_new, 'revenue':df2.revenue})
df2.to_csv("C:/Users/Rajat/Desktop/GradientBoostRegressorCV.csv",index= False)

In [22]:
importances = mdl.feature_importances_
std = np.std([tree.feature_importances_ for tree in mdl.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]
print("Feature ranking:")
for f in range(x_train.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(x_train.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(x_train.shape[1]), indices)
plt.xlim([-1, x_train.shape[1]])
plt.show()

AttributeError: 'numpy.ndarray' object has no attribute 'feature_importances_'